body{
    background-color: rgb(243, 232, 222);
    position: fixed;
}
.kelan{
    height: 110px;
    width: 100%;
    background-image: url(https://sun9-78.userapi.com/impg/GwJ5j9Z5owBQSXxGRdinKy1j1ynZg_Owmc4nUA/wZlo-oELj9I.jpg?size=1315x142&quality=96&sign=c4f4684ce88a0cd55492fd973e6d1650&type=album);
    background-repeat: no-repeat;
}

.main1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 0px;
}

.header{
    width: 100%;
}

.main{
    margin: auto;
    width: 95%;
    height: 770px;
    background-color: rgb(226, 208, 192);
    border-radius: 50px;
    border: 1px solid black;
    box-shadow: 0 0 5px;
  
}
.footer{
    width: 100%;
    height: 50px;
}
.butt{
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:inline-block;
    border-radius: 50px;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    background-color: rgb(226, 208, 192);
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:link{
    color: #000;
    outline: none;
    text-transform: uppercase;
    text-decoration: none;
    
}
a:visited{
    color: black;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
}

.butt:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
   
.butt:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}




   
.butt::after {
    content: "";
    display: inline-block;
    height: 90%;
    width: 90%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}
   

   
.butt:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}




#spec{
    width: 400px;
    height: 50px;
    display: inline-block;
    margin-left: 100px;
    line-height:50px;
}
#geo{
width: 400px;
height: 50px;
display: inline-block;
margin-left: 250px;
line-height:50px;
}
#vakansii{
    width: 400px;
    height: 50px;
   display: inline-block;
   line-height:50px;
   margin-left: 250px;
}


#specV{
    width: 400px;
    height: 50px;
    display: inline-block;
    margin-left: 300px;
    line-height:50px;
}
#mainPage{
    width: 400px;
    height: 50px;
   display: inline-block;
   line-height:50px;
   margin-left: 480px; 
}


#vakansiiS{
    width: 400px;
    height: 50px;
    display: inline-block;
    margin-left: 100px;
    line-height:50px;
}
#mainPageS{
    width: 400px;
    height: 50px;
   display: inline-block;
   line-height:50px;
   margin-left: 900px; 
}





.photo{
    width: 45%;
    
    
}
.text{
    width: 45%;
    height: 300px;
}
#pic1{
    
    float: left;
    margin-left: 40px; 
    margin-top: 20px;
    height: 300px;
}
img{
    width: 100%;
    height: 450px;
}


#txt1{
    background-color: rgb(226, 208, 192);
    float: right;
    margin-right: 35px;
    margin-top: 20px;
}
h1{
    text-align: center;
    font-size: 36pt;
}
p{
text-align: center;
font-size: 20px;
}
.tx{
    font-size: 28px;
}

#txt2{
    background-color: rgb(226, 208, 192);
    float: left;
    float: bottom;
    margin-left: 40px;
    margin-top: 60px;
    size: 10px;
}
#pic2{
    float: right;
    float: bottom;
    margin-right: 35px;
    margin-top: 20px;
}




#vakansiya{
    border: 1px solid black;
    border-radius: 3%;
    height: 500px;
    width: 47%;
    margin: 0 auto;
    display: flex;
    box-shadow: 0 0 5px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgb(226, 208, 192);

}
#name{

    width: 40%;
    height: 495px;
}
#opisanie{
 
    width: 60%;
    height: 495px;
    margin-left: 5px;
    
    
}
#text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}
#text1{
    margin-top: 20px;
    height: 29px;
    width: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
#text2{
    margin-top: -30px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    border-top: 5px solid black;
}
#obyaz{
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}
#yslovie{
    height: 45%;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
#obyaz1{
    width: 50%;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
#trebov{
    width: 50%;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
#name1{
    width: 100%;
    height: 25%;
    text-align: top;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    align-items: end;
    text-align: center;
    font-weight: bold;
}
#photo{
    width: 100%;
    height: 75%;
    background-image: url(https://sun9-3.userapi.com/impg/sboMzhj0Ob43SiJWf2Ojg64GTxWr6xP2OkA_jA/v81FmyxrSYg.jpg?size=511x384&quality=96&sign=a1eb5abbe4dfa8e94772dcd84ea0b782&type=album);
    margin-top: 5px;
    background-size: cover;
    border-radius: 0 16px 0 16px;
    background-position: center;

}
#photo2{
    width: 100%;
    height: 75%;
    background-image: url(https://sun9-77.userapi.com/impg/WuuNCKkFERQFuCFqXU8fIwJgDOAlRU2HvTHUHw/DOriEE4neFY.jpg?size=507x377&quality=96&sign=d9c1c2f69e63fba29c155c5562a99521&type=album);
    margin-top: 5px;
    background-size: cover;
    border-radius: 0 16px 0 16px;
    background-position: center;

}
